body,
* {
  margin: 0;
}

h1,
p {
  font-size: 20px;
  font-family: sans-serif;
  padding: 0.5rem 0;
}

.background {
  display: grid;
  place-content: center;
  background: rgb(1, 24, 49);
  min-width: 100%;
  min-height: 100vh;
}

.card-container {
  max-width: 720px;
}

.input-box {
  border: 2px solid rgb(175, 189, 209);
  color: rgb(96, 117, 158);
  padding: 5px 0 5px 10px;
  margin: 10px 0;
  font-size: 16px;
  min-width: 400px;
  height: 30px;
  border-radius: 6px;
}

.card {
  padding: 20px;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgb(176, 176, 176) 0px 3px 2px 0px;
}

.input-container {
  width: 100%;
}

button {
  margin: 5px 0;
  padding: 15px 48px;
  background-color: rgb(14, 131, 138);
  border: 2px solid rgb(14, 131, 138);
  border-radius: 6px;
  color: white;
  transition: 150ms;
}

button:hover {
  background-color: unset;
  color: black;
  transition: 150ms;
}
